modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "dist/server.js"]
build = ["bash", "-c", "npx prisma generate && npx tsc"]

[userenv]

[userenv.shared]
SHOPIFY_STORE_DOMAIN = "loosearrowslogistics.myshopify.com"
ADMIN_SECRET = "la-admin-4f5949046807a6d061ffa396b5d94dba86c6369883644106"
